.contactme {
  width: 100%;
  padding: 80px 40px;
  display: flex;
  gap: 60px;
  background-color: rgba(255, 244, 246, 1);
}

.contactme-first {
  flex: 1;
  font-size: 22px;
  font-style: italic;
  color: rgb(56, 38, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.6;
}

.contactme-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.box {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(172, 91, 105);
  font-size: 16px;
  outline: none;
}

.box:focus {
  border-color: rgb(209,165,147);
}

.submit {
  width: 120px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgba(209,165,147);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}


.submit:hover {
  background-color: rgb(180,140,125);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
    .aboutme {
    flex-direction: column;
    text-align: center;
  }

  .contactme {
    flex-direction: column;
    text-align: center;
  }
}
